{% comment %}
  Usage
  Add the following the theme.liquid
  {% render 'jod-snippet-modal' %}
{% endcomment %}

<style>
/* The Modal (background) */
.jod-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 999; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  box-sizing: border-box;
  padding-top: 20vh; /* Location of the box */
  padding-bottom: 100px;
}

/* Modal Content */
.jod-modal__content {
  background-color: #fefefe;
  margin: 1rem auto;
  border: 1px solid #888;
  max-width: 800px;
  font-size: 1rem;
  line-height: 1.5rem;
}

.jod-modal iframe {
  width: 100%;
  max-width: 800px;
  height: 51vh;
  background-color: #000;
}

/* The Close Button */
.jod-modal__close {
  color: #ccc;
  font-size: 3rem;
  position: absolute;
  top: 2rem;
  right: 3rem;
}

.jod-modal__close:hover,
.jod-modal__close:focus {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
</style>

<!-- The Modal -->
<div class="jod-modal" id="jod-modal">

  <!-- Modal close icon -->
  <div class="jod-modal__close" id="jod-modal__close">&times;</div>
  <!-- Modal content -->
  <div class="jod-modal__content" id="jod-modal__content"></div>

</div>

<script>
    var jodModal = document.getElementById("jod-modal");
    var jodModalClose = document.getElementById("jod-modal__close");
    var jodModalContent = document.getElementById("jod-modal__content");

    /* Open modal */
    var jodOpenModal = function (content, textOnly = false) {
        if (textOnly) {
            jodModalContent.innerText = content;
        } else {
            jodModalContent.innerHTML = content;
        }
        jodModal.style.display = "block";
    }

    /* Close function */
    var jodCloseModal = function () {
        jodModal.style.display = "none";
        jodModalContent.innerHTML = "";
    }

    /* Event Listener */
    window.addEventListener("click", function (event) {
        if (event.target == jodModal) {
            jodCloseModal();
        }
    })
    jodModalClose.addEventListener("click", function (event) {
        jodCloseModal();
    })
</script>
